@config "../../tailwind.config.ts";
@import "tailwindcss";
@source inline("bg-emerald-900 bg-purple-900 bg-cyan-900 bg-emerald-400 bg-purple-400 bg-cyan-400 text-emerald-400 text-purple-400 text-cyan-400");

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-hover: #FFFFFF1A;
  --border-focus: #00FAED;
  --font-work-sans: var(--font-work-sans), sans-serif;
  --font-play: var(--font-play), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-work-sans);
}

button:not(:disabled),
[role="button"]:not([aria-disabled="true"]) {
  cursor: pointer;
}

button:disabled,
[role="button"][aria-disabled="true"] {
  cursor: not-allowed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.play {
  font-family: var(--font-play);
}

input {
  border: 1px solid transparent;
  outline: 0;
}

input:focus {
  border: 1px solid var(--border-focus);
}

input:hover {
  border: 1px solid var(--border-hover);
}
