@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-hover: #aaaaaa;
  --border-focus: #dddddd;
  --font-work-sans: var(--font-work-sans), sans-serif;
  --font-play: var(--font-play), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-work-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.play {
  font-family: var(--font-play);
}

input {
  border: 1px solid transparent;
  outline: 0;
}

input:focus {
  border: 1px solid var(--border-focus);
}

input:hover {
  border: 1px solid var(--border-hover);
}